/* Responsive */
@media (max-width: 992px) {
  .container,
  nav .container {
    --bs-gutter-x: 50px !important;
    --bs-gutter-y: 50px !important;
    max-width: 992px;
  }
  .recipe-card {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .nav-text {
    font-size: 18px;
  }
  .nav-text-b {
    font-size: 12px;
  }

  #recipeRating {
    font-size: 14px !important;
  }
  #recipeReviews {
    font-size: 12px !important;
  }
  .meta-s {
    padding: 12px;
  }
  .meta-item i {
    font-size: 18px !important;
  }
  .meta-item .meta-label {
    font-size: 12px;
  }
  .meta-item .meta-value {
    font-size: 14px !important;
  }
  .icons-s.big {
    display: none !important;
  }
  .warning-text h4 {
    font-size: 14px !important;
  }
  .warning-text p {
    font-size: 12px !important;
  }
  .recipe-name {
    font-size: 24px;
  }

  .recipe-tabs .nav-link {
    font-size: 12px !important;
  }

  .rating-badge {
    top: 15px;
    left: 15px;
    padding: 6px 12px;
  }
  .btn-try-another {
    padding: 8px 16px;
    font-size: 14px !important;
  }
}
